.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.textOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  ); /* Fondo semitransparente */
  color: #fff;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
}

.textContainer {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  z-index: 3;
  transition: background 0.3s ease;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.indicators {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.indicator {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background 0.3s ease;
}

.indicator.active {
  background: rgba(255, 255, 255, 1);
}
