@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: none;
  --primary-foreground: #fff;
  --secondary-color: #4169e1;
  --muted-background: #f0f0f0;
  --card-background: #fff;
  --text-color: #333;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, #4169e1)
    rgb(var(--background-start-rgb)); */
  background: #64aaf1;
}
#------------------------------------------------
.scroll-page {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInUp 1s ease-out; /* Animación de entrada */
}

.shadow-lg {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.divider {
  height: 3px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  ); /* Línea divisoria con degradado */
  margin: 0; /* Asegura que no haya espacio adicional */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
